.Tile {
  --color: #261613;
  padding-bottom: 100%;
  background-color: var(--color);
  cursor: pointer;
  transition: all 0.6s;
  border-radius: min(var(--padding), 6px);
}

.--color-100 {
  --color: var(--color-100);
}

.--color-200 {
  --color: var(--color-200);
}

.--color-300 {
  --color: var(--color-300);
}

.--color-400 {
  --color: var(--color-400);
}

.--color-500 {
  --color: var(--color-500);
}

/* Arcs */
.--arc-top {
  border-bottom-left-radius: 100%;
}

.--arc-left {
  border-bottom-right-radius: 100%;
}

.--arc-bottom {
  border-top-left-radius: 100%;
}

.--arc-right {
  border-top-right-radius: 100%;
}

/* Triangles */
.--triangle-top {
  background: linear-gradient(45deg, var(--color) 50%, transparent 50%);
}

.--triangle-left {
  background: linear-gradient(135deg, var(--color) 50%, transparent 50%);
}

.--triangle-right {
  background: linear-gradient(225deg, var(--color) 50%, transparent 50%);
}

.--triangle-bottom {
  background: linear-gradient(315deg, var(--color) 50%, transparent 50%);
}

/* Matches */
.--match-top {
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}
.--match-right {
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
}
.--match-bottom {
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
}
.--match-left {
  border-bottom-left-radius: 100%;
  border-top-left-radius: 100%;
}
