.Tile {
  --color: #261613;
  padding-bottom: 100%;
  background-color: var(--color);
  cursor: pointer;
  transition: all .6s;
}

.--locked {}

.--color-navy {
  --color: #092b40; /* Navy */
}

.--color-tomato {
  --color: #bf2806;
}

.--color-dark-brown {
  --color: #261613; /* Dark Brown */
}

.--color-orange {
  --color: #f27507; /* Dark Orange */
}

.--color-tangerine {
  --color: #f28705; /* Light Orange */
}

/* Arcs */
.--arc-top {
  border-bottom-left-radius: 100%;
}

.--arc-left {
  border-bottom-right-radius: 100%;
}

.--arc-bottom {
  border-top-left-radius: 100%;
}

.--arc-right {
  border-top-right-radius: 100%;
}

/* Triangles */
.--triangle-top {
  background: linear-gradient(45deg, var(--color) 50%, transparent 50%);
}

.--triangle-left {
  background: linear-gradient(135deg, var(--color) 50%, transparent 50%);
}

.--triangle-right {
  background: linear-gradient(225deg, var(--color) 50%, transparent 50%);
}

.--triangle-bottom {
  background: linear-gradient(315deg, var(--color) 50%, transparent 50%);
}

/* Matches */
.--match-top {
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}
.--match-right {
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
}
.--match-bottom {
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
}
.--match-left {
  border-bottom-left-radius: 100%;
  border-top-left-radius: 100%;
}
